<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="resources/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-form">
      <h2>Login con Node JS</h2>
      <form action="/auth" method="POST">
        <input type="text" name="user" id="user" placeholder="User" />
        <input type="password" name="pass" id="pass" placeholder="Password" />
        <input type="submit" class="btn-login" value="Login" />
      </form>
      <a href="register" class="btn-register">Register</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <% if (typeof alert != "undefined") { %>
    <script>
      Swal.fire({
        title:'<%= alertTitle %>',
        text:'<%= alertMessage %>',
        icon:'<%= alertIcon %>',
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
      }).then(()=>{
        window.location='/<%= ruta %>'
      })
    </script>
    <% } %>
  </body>
</html>
